@using CansInnov.Shared;
@inherits LayoutComponentBase

@code {
    [Inject]
    HttpClient Http { get; set; }

    ApplicationUser User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await Http.GetFromJsonAsync<ApplicationUser>("api/User", CancellationToken.None);
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="title">@User?.Matricule</span>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenDialog />
<RadzenNotification />
