@using CansInnov.Shared;
@inherits LayoutComponentBase

@code {
    [Inject]
    HttpClient Http { get; set; }

    UserInfo User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = await Http.GetFromJsonAsync<UserInfo>("api/User", CancellationToken.None);
    }
}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (User != null)
            {
                <span class="title">Bonjour @User?.UserMatricule</span>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<RadzenDialog />
<RadzenNotification />

